.navbar {

  background: -webkit-linear-gradient(90deg, #403B4A 10%, #534D61 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #403B4A 10%, #534D61 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #403B4A 10%, #534D61 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #403B4A 10%, #534D61 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #403B4A 10%, #534D61 90%); /* W3C */
            
}

body {
  background: -webkit-linear-gradient(90deg, #FF69DC 10%, #69F5FF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF69DC 10%, #69F5FF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF69DC 10%, #69F5FF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF69DC 10%, #69F5FF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF69DC 10%, #69F5FF 90%); /* W3C */
        
}